<main>
  <div class="calendar-container">
    <full-calendar [options]="calendarOptions"></full-calendar>
  </div>

  <div *ngIf="isModalVisible" class="modal-overlay">
    <div class="modal">
      <h2>Data Selecionada: {{ formattedDate() }}</h2>
      <div>
        <h3>Digite o nome e e-mail para cadastrar um novo paciente:</h3>
        <form (ngSubmit)="onSubmit()" [formGroup]="emailForm" class="input-container">
          <div class="input-label">
            <label for="name">Nome</label>
            <input formControlName="name" type="text" id="name" [(ngModel)]="patientName">
          </div>
          <div class="input-label">
            <label for="email">Email</label>
            <input formControlName="email" type="email" id="email" [(ngModel)]="patientEmail">
          </div>
          <div class="button-container">
            <button type="submit" [disabled]="emailForm.invalid">Confirmar</button>
            <button type="button" class="cancel" (click)="closeModal()">Cancelar</button>
          </div>
        </form>
      </div>
      <div class="botao" (click)="closeModal()">x</div>
    </div>
  </div>
</main>