main{

  padding: 24px;
  background-color: #fff;
  width: 100%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  
}

section {
  text-align: center;
  font-size: 24px;
  letter-spacing: 15px;
}
